*{
    margin: 0;
    padding: 0;
}
header{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;

}
.logo{
    width: 20%;
    float: left;

}
nav{
    width: 56%;
    float: right;
    overflow: hidden;

}
nav ul{
    list-style: none;
    float: right;
    overflow: hidden;

}
nav ul li{
    float: left;
    margin-left: 85px;
    color: #626262;
    font-size: 18px

}
.banner{
    width: 90%;
    margin: auto;
}
.banner img{
    width: 100%;

}
.photodiary{
    width: 80%;
    margin: auto;
    padding: 50px 0;

}
.photodiary h5{
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;

}
.photodiary h1{
    color: #626262;
    font-size: 35px;
    text-transform: capitalize;
    margin: 15px 0;
    
}
.photodiary p{
    color: #626262;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.2;
   
    
}
